# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Github_Project\Dr. Semmelweis and the Discovery of Handwashing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
